body {
    background: #758694;
    font: normal 15pt arial;
    color: white;
}

header {
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    color: black;
    margin: auto;
    box-shadow: 5px 5px 10px  rgb(97, 96, 96);
}

footer {
    text-align: center;
    font-style: italic;
}